*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #0A0118;
  color: white;
}

/*navber style*/
.navber-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #050012;
}
.navber-section ul{
  display: flex;
  list-style: none;
  gap: 30px;
}
.navber-section ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}
.navber-section ul li a:hover{
  color: #a855f7;
}
.logo{
  font-size: 32px;
  font-weight: 800;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}
.gradient-text{
  background: linear-gradient(to right,#ec4899, #a855f7);
  margin-left: 2px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.btn{
   background: linear-gradient(to right,#FFCC33, #ec4899, #a855f7);
   color: white;
   padding: 10px 25px;
   border: none;
   border-radius: 50px;
   font-weight: bold;
   cursor: pointer;
   font-size: 16px;
   transition: 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
/*banner style*/
.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0;
  width: 100%;
  overflow: hidden; 
}

.full-width-wave {
  position: relative;
  width: 100vw; 
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}


.full-width-wave > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; 
  height: auto;
  opacity: 0.6;
  z-index: 1;
}

.new-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #00FF94;
  color: black;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 800;
  font-size: 12px;
  z-index: 10;
}


.podcast-center-group {
  position: relative;
  width: 350px; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; 
}

.main-circle {
  width: 100%;
}

.mic-icon {
  position: absolute;
  width: 130px; 
  z-index: 6; 
}
.hero-title {
  font-size: 64px;
  font-weight: 800;
  color: #ffffff;
  margin-top: 20px;
  position: relative;
  z-index: 10; 
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}


.hero-text {
  max-width: 600px;
  margin: 10px auto 30px;
  color: #cbd5e1;
  font-size: 18px;
}
.hero-btns {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.spotify-btn {
  background: linear-gradient(to right, #FFD700, #FF2E97, #A855F7);
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.subscribe-outline {
  background: transparent;
  color: #00FF94;
  border: 2px solid #00FF94;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-btns button img {
  width: 20px; 
  height: 20px;
  object-fit: contain;
}

.hero-btns button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
/*about Section style*/
.about-section {
  padding: 80px 20px;
  background-color: #0A0118;
  text-align: center;
}

.about-content {
  max-width: 800px;
  margin: 0 auto 60px;
}

.about-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 25px;
  color: white;
}

.about-description {
  font-size: 18px;
  color: #cbd5e1;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-footer-text {
  font-size: 16px;
  color: #94a3b8;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  margin: 40px auto 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 60px;
}

.stat-card {
  flex: 1;
  min-width: 200px;
}

.stat-number {
  font-size: 56px;
  font-weight: 800;
  color: #00FF94; 
  margin-bottom: 10px;
}

.stat-label {
  font-size: 14px;
  font-weight: 600;
  color: #94a3b8;
  letter-spacing: 1px;
}
