*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: #0A0118;
  color: white;
}

/*navber style*/
.navber-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #050012;
}
..navber-section ul{
  
}